@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:host {
  display: block;
  position: fixed;
  width: 100%;
}
.header{
  padding-top: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
  .navigation, .account, .logo{
    display: flex;
    justify-content: center;
  }
  .navigation a{
    font-size: 13px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer;
  }
  .logo img{
    width: 90px;
    height: fit-content;
  }
  .account button{
    cursor: pointer;
  }
  .sign-in{
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    background: none;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
  }
  .sign-up{
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    border-radius: 5px;
    color: #fff;
    border: none;
    background: rgb(24,200,255);
  background: linear-gradient(227deg, rgba(24,200,255,1) 0%, rgba(147,63,254,1) 100%); 
  }
}