/* You can add global styles to this file, and also import other style files */
body, html {
    margin: 0;
    color: #fff;
}

::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #454545; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 3px;
  }