<header-home/>
<div class="page">
    <div class="center-title">
        <h1>
            We make crypto clear and simple
        </h1>
        <p style="color: #898CA9;">Buy, sell, and grow your crypto with CoinFlip, the platform dedicated to every trader at every level.</p>
        <button class="blue-gradient" style="padding: 1rem 1.7rem 1rem 1.7rem;">Get Started</button>
    </div>
</div>
<div class="page">
    <div class="center-page">
        <div class="content-boxes">
            <div class="info-box">
                <img height="80px" src="../../assets/img/coin-1.png">
                <h2>Trade Desk</h2>
                <p>Invest in crypto anytime, anywhere with our safe, secure, and easy to use online platform</p>
                <a>
                    <span style="margin-right: 0.3rem;">Get Started</span>
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
            <div class="info-box">
                <img height="80px" src="../../assets/img/coin-1.png">
                <h2>CoinFlip ATMs</h2>
                <p>Invest in crypto anytime, anywhere with our safe, secure, and easy to use online platform</p>
                <a>
                    <span style="margin-right: 0.3rem;">Get Started</span>
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
            <div class="info-box">
                <img height="80px" src="../../assets/img/coin-1.png">
                <h2>CoinFlip Wallet</h2>
                <p>Invest in crypto anytime, anywhere with our safe, secure, and easy to use online platform</p>
                <a>
                    <span style="margin-right: 0.3rem;">Get Started</span>
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>