:host {
  display: block;
  background-image: url('../../assets/img/background.png');
  height: 700vh;
  background-size: cover;
  width: 100%;
}
.page{
  height: 100vh;
  .center-title{
    display: flex;
    flex-direction: column;
    h1{
      margin: 80px 30px 30px 30px;
      width: 50rem;
      text-align: center;
      font-size: 85px;
      font-family: "Inter", sans-serif;
    }
    p{
      margin: 30px;
      font-size: 16px;
    }
    font-size: 20px;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
  }
  .center-page{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .content-boxes{
    width: 100%;
    padding: 4.5rem 3rem 0 3rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }
  .info-box{
    cursor: pointer;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 15rem;
    background: #1A1B23;
    border-radius: 10px;
    h2{
      margin: 10px;
    }
    p{
      margin: 10px;
      font-size: 16px;
      color: #898CA9;
      text-align: center;
    }
    img{
      width: fit-content;
    }
    a{
      margin: 10px;
      color: #956acd;
      text-decoration: none;
    }
  }
}